@use "./../../../../fonts.scss";

.password-strength {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px var(--spacing-200);
    background-color: var(--color-grey-850);

    &__title {
        text-transform: uppercase;
        color: var(--color-grey-600);
        @include fonts.apply-text-preset("3");
    }

    &__value-container {
        display: flex;
        align-items: center;
        gap: var(--spacing-200);
    }

    &__value-text {
        text-transform: uppercase;
        color: var(--color-grey-200);
        @include fonts.apply-text-preset("2");
    }

    &__value {
        display: flex;
        gap: var(--spacing-100);

        &--too-weak {
            :first-child {
                border-color: var(--color-red-500);
                background-color: var(--color-red-500);
            }
        }

        &--weak {
            :nth-child(-n + 2) {
                border-color: var(--color-orange-400);
                background-color: var(--color-orange-400);
            }
        }

        &--medium {
            :nth-child(-n + 3) {
                border-color: var(--color-yellow-300);
                background-color: var(--color-yellow-300);
            }
        }

        &--strong {
            :nth-child(-n + 4) {
                border-color: var(--color-green-200);
                background-color: var(--color-green-200);
            }
        }
    }

    &__value-bar {
        border: 2px solid var(--color-grey-200);
        height: 28px;
        width: 10px;
    }
}

@media (min-width: 48em) {
  .password-strength {
    padding: var(--spacing-300) var(--spacing-400);
  }
}