<div class="password-strength">
    <span class="password-strength__title">Strength</span>
    <div class="password-strength__value-container">
        <span class="password-strength__value-text">{{ strengthText }}</span>
        <div class="password-strength__value" [ngClass]="strengthClass">
            <div class="password-strength__value-bar"></div>
            <div class="password-strength__value-bar"></div>
            <div class="password-strength__value-bar"></div>
            <div class="password-strength__value-bar"></div>
        </div>
    </div>
</div>