<div class="password-strength">
    <span class="password-strength__title">Strength</span>
    <div class="password-strength__value-container">
        <span class="password-strength__value-text"  aria-live="polite">{{ strengthText }}</span>
        <div class="password-strength__value" [ngClass]="strengthClass" aria-hidden="true">
            <div class="password-strength__value-bar"></div>
            <div class="password-strength__value-bar"></div>
            <div class="password-strength__value-bar"></div>
            <div class="password-strength__value-bar"></div>
        </div>
    </div>
</div>