@use './../../../fonts.scss';

.password-settings {
  color: var(--color-grey-200);
  background-color: var(--color-grey-800);
  padding: var(--spacing-200);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
}

.character-length {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacing-100);

  &__label {
    @include fonts.apply-text-preset('4');
  }
  &__output {
    padding-right: 14px;
    color: var(--color-green-200);
    @include fonts.apply-text-preset('2');
  }
  &__slider {
    --range-thumb: 0%;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 28px;
    background-color: transparent;

    &::-webkit-slider-thumb {
      --webkit-appearance: none;
      appearance: none;
      width: 28px;
      height: 28px;
      border-radius: 100%;
      background-color: var(--color-grey-200);
      cursor: pointer;
      transform: translateY(-8px);
    }

    &::-moz-range-thumb {
      --webkit-appearance: none;
      appearance: none;
      width: 28px;
      height: 28px;
      border-radius: 100%;
      background-color: var(--color-grey-200);
      cursor: pointer;
      transform: translateY(-8px);
    }

    &::-webkit-slider-runnable-track {
      height: 8px;
      background: linear-gradient(
        to right,
        var(--color-green-200) var(--range-thumb),
        var(--color-grey-850) var(--range-thumb)
      );
    }

    &::-moz-range-track {
      height: 8px;
      background: linear-gradient(
        to right,
        var(--color-green-200) var(--range-thumb),
        var(--color-grey-850) var(--range-thumb)
      );
    }

    &:active {
      &::-webkit-slider-thumb {
        background-color: var(--color-grey-850);
        border: 2px solid var(--color-green-200);
      }
    }
  }
}

.checkboxes {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
}

.checkbox {
  display: flex;
  align-items: center;
  gap: var(--spacing-300);
  cursor: pointer;
  @include fonts.apply-text-preset('4');

  &__input {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 2px solid var(--color-grey-200);
    cursor: pointer;

    &:hover {
      border-color: var(--color-green-200);
    }

    &:checked {
      border-color: var(--color-green-200);
      background-color: var(--color-green-200);
      background-image: url(/assets/images/icon-check.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.generate-btn {
  margin-top: -16px;
  border: 2px solid var(--color-green-200);
  background-color: var(--color-green-200);
  padding: var(--spacing-200) var(--spacing-400);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-300);
  cursor: pointer;

  @include fonts.apply-text-preset('4');

  &:hover {
    background-color: transparent;
    color: var(--color-green-200);
  }

  &:disabled {
    cursor: not-allowed;
    border: 2px solid var(--color-grey-200);
    background-color: var(--color-grey-700);
    color: var(--color-grey-200);
  }

  
}

@media (min-width: 48em) {
  .password-settings {
    padding: var(--spacing-300) var(--spacing-400);
  }

  .character-length {
    gap: var(--spacing-200);
    &__label {
      @include fonts.apply-text-preset('3');
    }
    &__output {
      @include fonts.apply-text-preset('1');
    }
  }

  .checkbox {
    @include fonts.apply-text-preset('3');
  }

  .generate-btn {
    margin: 0;
    height: 65px;
    @include fonts.apply-text-preset('3');
  }
}
