<div class="password-settings">
  <!-- character length -->
  <div class="character-length">
    <label class="character-length__label" for="characterLength">Character Length</label>
    <output class="character-length__output">{{ ps.length() }}</output>
    <input
      class="character-length__slider"
      type="range"
      name="characterLength"
      id="characterLength"
      [value]="ps.length()"
      min="0"
      [max]="ps.maxLength"
      (input)="onSliderChange($event)"
      [style]="{ '--range-thumb': sliderPercentage }"
    />
  </div>
  <!-- checkboxes -->
  <div class="checkboxes">
    <label class="checkbox">
      <input class="checkbox__input" type="checkbox" [checked]="ps.uppercase()" (change)="onCheckboxChange($event, this.ps.uppercase)"/>
      <span class="checkbox__text">Include Uppercase Letters</span>
    </label>
    <label class="checkbox">
      <input class="checkbox__input" type="checkbox" [checked]="ps.lowercase()" (change)="onCheckboxChange($event, this.ps.lowercase)"/>
      <span class="checkbox__text">Include Lowercase Letters</span>
    </label>
    <label class="checkbox">
      <input class="checkbox__input" type="checkbox" [checked]="ps.numbers()" (change)="onCheckboxChange($event, this.ps.numbers)"/>
      <span class="checkbox__text">Include Numbers</span>
    </label>
    <label class="checkbox">
      <input class="checkbox__input" type="checkbox" [checked]="ps.symbols()" (change)="onCheckboxChange($event, this.ps.symbols)"/>
      <span class="checkbox__text">Include Symbols</span>
    </label>
  </div>
  <!-- password strength -->
  <app-password-strength [value]="ps.passwordStrength()"></app-password-strength>
  <!-- generate button -->
  <button class="generate-btn">
    <span>GENERATE</span>
    <div class="icon">
      <svg width="12" height="12" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="m5.106 12 6-6-6-6-1.265 1.265 3.841 3.84H.001v1.79h7.681l-3.841 3.84z"/></svg>
    </div>
  </button>
</div>
