@use './../../../fonts.scss';

.password-display {
  background-color: var(--color-grey-800);
  padding: var(--spacing-200);

  &__input {
    background-color: transparent;
    border: transparent;
    outline: transparent;
    color: var(--color-grey-200);
    @include fonts.apply-text-preset('2');

    &::placeholder {
      color: var(--color-grey-700);
    }
  }

  &__button {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    img {
      height: 20px;
    }

    &:hover {
      img {
        filter: brightness(0) invert(1);
      }
    }
  }
}

@media (min-width: 48em) {
  .password-display {
    padding: var(--spacing-200) var(--spacing-400);

    &__input {
      @include fonts.apply-text-preset('1');
    }

    &__button {
      img {
        height: 24px;
      }
    }
  }
}
