@use './../../../fonts.scss';

.password-display {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-grey-800);
  padding: var(--spacing-200);

  &__output {
    width: 100%;
    background-color: transparent;
    border: transparent;
    outline: transparent;
    color: var(--color-grey-200);
    @include fonts.apply-text-preset('2');

    .placeholder {
      color: var(--color-grey-700);
    }
  }

  &__button {
    display: flex;
    align-items: center;
    gap: var(--spacing-200);
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    color: var(--color-green-200);
    @include fonts.apply-text-preset("4");

    img {
      height: 20px;
    }

    &:hover {
      img {
        filter: brightness(0) invert(1);
      }
    }

    &:disabled {
      cursor: not-allowed;
      img {
        filter: brightness(0.5);
      }
    }
  }
}

@media (min-width: 48em) {
  .password-display {
    padding: var(--spacing-200) var(--spacing-400);

    &__output {
      @include fonts.apply-text-preset('1');
    }

    &__button {
      @include fonts.apply-text-preset("3");
      img {
        height: 24px;
      }
    }
  }
}
